.input-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 10px;
}

.input-field {
  border: none;
  border-radius: 10px;
  outline: none;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  font-size: 15px;
}

.input-label {
  font-size: 30px;
  font-weight: bold;
}

.withError {
  outline: 3px red solid;
}

.withSuccess {
  outline: 3px green solid;
}

.errorMessage {
  color: red;
}
