.title-form-upload {
  font-size: 50px;
  text-shadow: 2px 0 0 orange, -2px 0 0 orange, 0 2px 0 orange, 0 -2px 0 orange,
    1px 1px orange, -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange;
  letter-spacing: 3px;
}

.spinner-upload {
  display: flex;
  justify-content: end;
}
